body{
    width: 80%;
    background-color: #020119;
    margin: auto;
}

body:hover:active{ 
    background-color: gold;
    margin:auto;
}

.img1{
    width: 80%;
    text-align:center;
     margin-left: 100px;
}

.img1:active{
    width: 100%;
    margin: auto;
}

.cat{
    color: deeppink;
    margin-top: -10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}

.cat:hover{
    color:chocolate;
    margin-top: -8px;
    font-size: 25px;
    text-align: center;
    transition-duration:5sec;
}

.clear{
    clear: both;
    text-align: right;
    color: white;
}

.ba{
    color:#020119;
    text-align:center;
    margin-top: -4px;
    margin-bottom:-0.1px;
    font-family: comic sans ms;
}

.text{
    width:80%;
    font-family:sitka;
    text-align: end;
}